/* GENERAL */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin-top: 48px;
    margin-bottom: 20px;
    background-image: url(../images/background/natural_white.png);
    font-family: 'Sacramento', cursive;
}


/* TITLE */

h1 {
    text-align: center;
    font-size: 2.8em;
    font-weight: 400;
    color: #4e565c;
}


/* CAROUSEL */

#carousel {
    max-width: 600px;
    max-height: 400px;
    position: relative;
    top: calc(50% - 160px);
    left: calc(50% - 300px);
    overflow: hidden;
    border-radius: 20px;
    -webkit-box-shadow: inset 20px 20px #ccc;
    box-shadow: 10px 20px 50px #ccc;
}

ul {
    width: 2400px;
    margin: 0;
    padding: 0;
}

li {
    max-width: 600px;
    max-height: 400px;
    list-style: none;
    float: left;
}

img {
    height: auto;
    max-width: 100%;
    display: block;
}


/* BUTTONS */

button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.left {
    left: 3%;
}

.right {
    right: 3%;
}

[class^="ion-ios-arrow-"] {
    font-size: 40px;
    color: #4e565c;
    -webkit-transition: linear .5;
    transition: linear .5;
}

[class^="ion-ios-arrow-"]:hover {
    -webkit-transform: scale (1.2);
    transform: scale (1.2);
}


/* INDICATORS */

.indicators {
    position: absolute;
    height: 15px;
    top: 90%;
    left: calc(50% - 31px);
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
}


/* FOOTER */

P {
    margin-top: 50px;
    text-align: center;
    font-size: 1em;
    font-weight: 800;
    color: #4e565c;
}


/* MEDIA QUERIES*/

@media (max-width: 768px) {
    #carousel {
        max-width: 500px;
        max-height: 350px;
        position: relative;
        top: calc(50% - 100px);
        left: calc(50% - 250px);
    }
    img {
        width: 88%;
        height: auto;
    }
}

@media (max-width: 576px) {
    #carousel {
        max-width: 430px;
        height: 250px;
        position: relative;
        top: calc(50% - 125px);
        left: calc(50% - 215px);
    }
    img {
        width: 73%;
        height: auto;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }
    #carousel {
        max-width: 330px;
        height: 180px;
        position: relative;
        top: calc(50% - 90px);
        left: calc(50% - 160px);
    }
    img {
        width: 55%;
        height: auto;
    }
    .indicators {
        top: 85%;
        font-size: 15px;
    }
    p {
        font-size: .8em;
    }
}

@media (max-width: 390px) {
    #carousel {
        max-width: 250px;
        height: 160px;
        position: relative;
        top: calc(50% - 80px);
        left: calc(50% - 125px);
    }
    img {
        width: 42%;
        height: auto;
    }
}
