body {
    margin: 0;
}

#carousel {
    width: 600px;
    height: 400px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    overflow: hidden;
    border: 3px solid #766b6b;
}

div {
    display: inline-block;
}

ul {
    width: 2400px;
    margin: 0;
    padding: 0;
}

li {
    width: 600px;
    height: 400px;
    list-style: none;
    float: left;
}

img {
    width: 600px;
}
