body {
    margin: 0;
}


/* CAROUSEL */

#carousel {
    width: 600px;
    height: 400px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    overflow: hidden;
    border: 3px solid #766b6b;
}

ul {
    width: 2400px;
    margin: 0;
    padding: 0;
}

li {
    width: 600px;
    height: 400px;
    list-style: none;
    float: left;
}

img {
    width: 600px;
}


/* BUTTONS */

button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 12.5px);
    border: 0px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.left {
    left: calc(30% - 12.5px);
}

.right {
    right: calc(30% - 12.5px);
}

[class^="ion-chevron"] {
    font-size: 25px;
    color: #766b6b;
}
